{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "none",
	"overrides": [
		{
			"files": [
				"*.html",
				"*.htm"
			],
			"options": {
				"parser": "html"
			}
		},
		{
			"files": [
				"*.css",
				"*.scss"
			],
			"options": {
				"parser": "css"
			}
		},
		{
			"files": [
				"*.js",
				"*.jsx"
			],
			"options": {
				"parser": "babel"
			}
		},
		{
			"files": [
				"*.ts",
				"*.tsx"
			],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"plugins": [
		"prettier-plugin-svelte"
	]
}
